<html>

<head>
    <link rel="stylesheet" href="/hapi/views.css">
</head>

<body>
    <div class="card">
        <div>Codigo de validación:</div>
        <div class="box"><%= code %></div>
        <a class="action" href="<%= url %>">Validar</a>
    </div>
</body>
</html>
