<html>

<head>
    <link rel="stylesheet" href="/views.css">
</head>

<body>
    <div class="card">
        <div>Validation code:</div>
        <div class="box"><%= code %></div>
        <a class="action" href="<%=url>">Validate</a>
    </div>
</body>
</html>
