<html>

<head>
    <link rel="stylesheet" href="/hapi/views.css">
</head>

<body>
    <div class="card">
        <form id="form" method="POST" action="{{url}}">
            <fieldset class="align-right">
                <legend>&nbsp;Cambio de clave:&nbsp;</legend>
                Usuario: <input class="link" type="text" name="email" value="{{email}}" required /></br>
                Código: <input class="link" name="code" type="text" minlength="{{lengthcode}}" required /></br>
                Nueva clave: <input id="password" class="link" type="password" name="password" minlength="{{passMinLen}}" required /></br>
                Confirmación de clave: <input id="confirm_password" class="link" type="password" minlength="{{passMinLen}}" required /></br>
            </fieldset>
            <input class="action" type="submit" value="Cambiar">
        </form>
    </div>
</body>

<script>
    let password = document.getElementById("password")
    let confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</html>
