<html>

<head>
    <link rel="stylesheet" href="/views.css">
</head>

<body>
    <div class="card">
        <form id="form" method="POST" action="<%= url %>">
            <fieldset class="align-right">
                <legend>&nbsp;Change password:&nbsp;</legend>
                User: <input class="link" type="text" name="email" required /></br>
                Code: <input class="link" name="code" type="text" minlength="<%= lengthcode %>" required /></br>
                New Password: <input id="password" class="link" type="password" name="password" minlength="<%= passMinLen %>" required /></br>
                Retype Password: <input id="confirm_password" class="link" type="password" minlength="<%= passMinLen %>" required /></br>
            </fieldset>
            <input class="action" type="submit" label="Change">
        </form>
    </div>
</body>

<script>
    let password = document.getElementById("password")
    let confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</html>
