.card {
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 300;
    width: auto;
    height: auto;
    display: flex;
    place-items: center;
    text-align: center;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 2ch;
    padding-right: 2ch;
    border-radius: 1ch;
    /* border: 1px solid hsl(0 0% 83%); */
    flex-direction: column;
}

.action {
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    background: hsl(0 0% 100%);
    line-height: 1;
    place-items: center;
    text-align: center;
    padding: 1ch;
    border-radius: 1ch;
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.card :first-child {
    margin-top: auto;
}

.card :last-child {
    margin-bottom: auto;
}

.card .align-right {
    text-align: right;
}

.link {
    margin-bottom: 20px;
    font-size: 14px;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    border: 0px;
    margin-top: 5px;
}

html {
    block-size: 100%;
    inline-size: 100%;
    background: hsl(0 0% 85%);
}

body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    gap: 5vmin;
    place-content: center;
    font-family: system-ui;
}

.box {
    background-color: rgb(142, 152, 161);
    color: white;
    border-radius: 10px;
}

input:invalid {
    border: 2px solid black;
}

input:valid {
    border: 1px solid green;
}

